body {
  background: url('http://wallpapercave.com/wp/MrsUPiW.jpg') no-repeat top right fixed;
  font-family: 'Coustard', serif;
  font-size: 50px;
  color: SaddleBrown;
}

h1 {
  font-size: 50px;
}

input, textarea {
  background-color: Moccasin;
}

label {
  font-size: 30px;
}
