<h1>Register a New Stylist</h1>

<form action="/stylists" method="post">

  <div class="form-group">
  <label for="name">Name of New Stylist</label>
  <input id="name" name="name" type="text">
  </div>

  <div class="form-group">
  <label for="expertise">Expertise</label>
  <input id="expertise" name="expertise" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-info btn-lg">Register Stylist</button>
</form>
