<h1>Register a New Stylist</h1>

<form action="/stylists" method="post">
  <label for="name">Name of New Stylist</label>
  <input id="name" name="name" type="text">

  <label for="expertise">Expertise</label>
  <input id="expertise" name="expertise" type="text">

  <br>
  <button type="submit" class="btn btn-warning">Register Stylist</button>
</form>
